<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Dating App</a>
  
  
  <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Matches <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" >Values</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" [routerLink]="['/medication']" >Medications</a>
      </li>

     
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" [routerLink]="['/psycheval']" >Psychiatric Evaluation</a>
      </li>
     
         <li class="nav-item" routerLinkActive="active" ngbDropdown>
          <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown3" role="button">
            Psychiatric evaluation
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
            <a ngbDropdownItem [routerLink]="['/chiefcomplaint']" (click)="$event.preventDefault()">Chief complaint</a>
            <a ngbDropdownItem [routerLink]="['/psychsystemsreview']" (click)="$event.preventDefault()">Psych systems review</a>
            <a ngbDropdownItem [routerLink]="['/psychhistory']" (click)="$event.preventDefault()">Psychiatric history</a>
            <a ngbDropdownItem [routerLink]="['/addictionhistory']" (click)="$event.preventDefault()">Addiction history</a>
            <a ngbDropdownItem [routerLink]="['/medicalhistory']" (click)="$event.preventDefault()">Medical history</a>
            <a ngbDropdownItem [routerLink]="['/familyhistory']" (click)="$event.preventDefault()">Family history</a>
            <a ngbDropdownItem [routerLink]="['/devsocialhistory']" (click)="$event.preventDefault()">Dev/Social history</a>
            <a ngbDropdownItem [routerLink]="['/systemsreview']" (click)="$event.preventDefault()">Review of systems</a>
            <a ngbDropdownItem [routerLink]="['/mentalstatus']" (click)="$event.preventDefault()">Mental status exam</a>
            <a ngbDropdownItem [routerLink]="['/physicalexam']" (click)="$event.preventDefault()">Physical exam</a>
            <a ngbDropdownItem [routerLink]="['/diagformulation']" (click)="$event.preventDefault()">Diagnosis formulation</a>
            <a ngbDropdownItem [routerLink]="['/diagnosis']" (click)="$event.preventDefault()">Diagnosis</a>
            <a ngbDropdownItem [routerLink]="['/txplan']" (click)="$event.preventDefault()">Treatment plan</a>
            
          </div>
        </li>

    </ul>
  </div>

    <div *ngIf="loggedIn()" class="dropdown">
      <a class="dropdown-toggle text-light"  >
        Welcome User
      </a>
    
      <div class="dropdown-menu" >
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Edit Profile</a>
        <div class="dropdow-divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i>Log Out</a>
      </div>
    </div>

    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username" required [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" required [(ngModel)]="model.password">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
 
</nav>
